.allbox{
  display: flex;


.allbox_left{
  text-align: right;
  
  .leftbox_item{
    padding-top: 10px;
  }
}

.search{
  &_result{
    display: flex;
    flex-direction: column;
  
    
    &_item{
      padding-top: 10px;
      padding-left: 10px;
    }
  }
  &_return{
    text-align: right;
    padding-top: 80px;
  }
}
}
.return{
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
}